@import "tailwindcss";

* {
  @apply transition-colors duration-700;
}
.light_theme {
  color: black;
  background-color: white;
}

.dark_theme {
  background-color: rgba(19, 18, 18, 0.993);
  color: white;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; 
}*/
